.section-about {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 12.5rem 0;
  background-image: linear-gradient( to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8) ),
  url(../img/nat-4.jpg);  
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -6.25rem;
  // All 'direct' child elements of .section-features
  & > * {
    transform: skewY(+7deg);
  }
}

.section-tours {
    background-color: $color-grey-light-1;
    // background-color: yellow;
    padding: 10rem 0 4rem 0;   
    margin-top: -6.25rem; 
}

.section-stories {
    margin-top: -2.5rem; 
    padding: 3rem 0;
    // background-color: pink;
    background-color: $color-grey-light-1;
}