.composition {
  position: relative;
  
  &__photo {
    width: 55%;
    //box-shadow: 0 1.5rem 4rem rgba($color: ($color-black), $alpha: 0.4); 
    box-shadow: 0 0.9375rem 2.5rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -1.25rem;
    }
    &--p2 {
      right: 0;
      top: 1.25rem;
    }
    &--p3 {
      left: 20%;
      top: 6.25rem;
    }  

    &:hover {
      outline: 0.9375rem solid $color-primary;
      transform: scale(1.05) translateY(-0.3125);
      // box-shadow: 0 2.5rem 4rem rgba($color: ($color-black), $alpha: 0.5); 
      box-shadow: 0 1.5625rem 2.5rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  ////////////////////////////////////////////////////
  // composition:hover composition__photo:not(:hover)
  ////////////////////////////////////////////////////
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }

}