body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   /* font-size: 16px; */
   line-height: 1.7;
   color: $color-grey-dark;
}

.heading-primary {
   color: $color-white;
   text-transform: uppercase;
   backface-visibility: hidden;
   /* margin-bottom: 60px; */
   margin-bottom: 3.75rem;

   &--main {
     display: block;
     /* font-size: 60px; */
     font-size: 3.75rem;
     font-weight: 400;
     /* letter-spacing: 35px; */
     letter-spacing: 2.1875rem;
     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-timing-function:ease-out;

     @include respond(phone) {
       letter-spacing: 0.625rem;
       font-size: 3.125rem;
    }
  }
  
  &--sub {
     display: block;
     /* font-size: 17.5px; */
     font-size: 1.09375rem;
     font-weight: 400;
     /* letter-spacing: 17.4px; */
     letter-spacing: 1.0875rem;
     text-align:center;
     animation: moveInRight 1s ease-out;

     @include respond(phone) {
        letter-spacing: 0.3125rem;
     }     
  }
}

.heading-secondary {
  font-style: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    //    font-size: 1.5625rem;
     font-size: 1.875rem;
  }

  @include respond(phone) {
    //  font-size: 1.25rem;
    font-size: 1.5625rem;
}

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  // font-size: 1.25rem;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}